[project]
	description = Official repository for main codebase for http://tatoeba.org, a multilingual sentence/translation database.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/arlenengami
[access "refs/for/refs/*"]
	read = group user/arlenengami
	push = group user/arlenengami
	label-Code-Review = -2..+2 group user/arlenengami
	label-Verified = -1..+1 group user/arlenengami
	rebase = group user/arlenengami
	removeReviewer = group user/arlenengami
	submit = group user/arlenengami
[access "refs/heads/*"]
	read = group user/arlenengami
	create = group user/arlenengami
	push = +force group user/arlenengami
	pushMerge = group user/arlenengami
[access "refs/tags/*"]
	push = +force group user/arlenengami
	pushTag = group user/arlenengami
	pushSignedTag = group user/arlenengami
